$default: #1D1A17;

%font-crimson{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}
%font-cource{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
}

