
<footer class="footer">
    <div class="container">
        <img class="footer__label" src="images/label.svg" alt="">
        <div class="footer__inner">
            <img class="footer__logo" src="images/logo.svg" alt="">
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">Blog</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">Karte</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">Videos</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">1000things.at</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">Impressum</a>
                </li>
                <li class="footer__menu-item">
                    <a href="" class="footer__menu-link">Datenschutzerklärung</a>
                </li>
            </ul>
            <div class="footer__social">
                <a href="#" class="footer__social-link"><img src="images/instagram.svg" alt=""></a>
                <a href="#" class="footer__social-link"><img src="images/facebook.svg" alt=""></a>
                <a href="#" class="footer__social-link"><img src="images/youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js "></script>
<script src="js/main.min.js"></script>
</body>

</html>